{%  extends 'backend/base.html.twig' %}
{%  block content %}
    <center>
        <img src="{{ asset('backend/dist/img/liv2.jpg') }}" width="500" height="333">
<h1>Modifier un livreur</h1>

{{ form(forma) }}
    </center>
{% endblock %}