<center>
<h1>Ajouter le prix </h1>
<p>
Quantité commandé: {{ commande.quantitecommande }}</p>
{{ form(forma) }}
</center>

{#<input type="text" name="prix" id="prix_u"> oninput: <span id="result"></span>
<script>
    input.oninput = function() {
        result.innerHTML = input.value;
    };
</script>#}
