{% extends "@GestionVente/base/base.html.twig" %}

{% block side_bar %}
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
            <li class="nav-item has-treeview">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-table"></i>
                    <p>
                        Gestion Ventes
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview"> <!--  ITEMS HERE -->
                    <li class="nav-item">
                        <a href="{{ path('vente_index_commande') }}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Consulter Commandes</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('client_index') }}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Clients</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Autres</p>
                        </a>
                    </li>
                </ul>
            </li>

        </ul>
    </nav>
{% endblock %}
{% block content %}
<div class="nav-space">
    <div class="container">
    </div>
</div>
{% endblock %}

