<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8" />

    <title>{% block title %}Welcome!{% endblock %}</title>


    {% block stylesheets %}



    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>

<body>


{% block body %}


{% endblock %}


{% block javascripts %}
{% endblock %}
{# Call NotificationsBundles's assets #}
{{ notifications_assets() }}
<script>
    /**
     * After calling notifications_assets() "pusher" is now available
     * and you can use it this way
     */

        // select the channel you want to listen to
    var channel = pusher.subscribe("notifications");// notifications channel
    channel.bind("my-event", function(data) {
        console.log('from notifications channel', data);
    });

    var channel = pusher.subscribe("messages");// messages channel
    channel.bind("my-event", function(data) {
        console.log('from messages channel', data);
    });
</script>
</body>
</html>
