{% extends 'backend/base.html.twig' %}
{% block content %}

<html>
<img src="{{ asset('choix-fournisseur-conditionne-competitivite-entreprise-F.jpg') }}" id="imgLogo" width="300px">

<head>
    <title>
        Ajout de fournisseur
    </title>
</head>
<body>

{% for message in app.flashes('info') %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
{% endfor %}

<h1>Ajouter un fournisseur</h1>
<fieldset style="width: 30%">
    {{ form(form) }}
</fieldset>

</body>
</html>
{% endblock %}
